
.container {
    background-color: black;
}
.container form {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: end;
    
    background-color: #fff;

}

.fechar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    align-items: start;
    padding: 12px;
    color: #fff;
    background-color: #54dd72;
    border-radius: 21px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom: none;
    width: 100%;
    
}
.left {
    display: flex;
    flex-direction: row;
    gap: 6vh;
}
.btnSalvar {
    border: none;
    
    background-color: transparent;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}
.btnFechar {
    border: none;
    width: 6vh;
    background-color: transparent;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
}
.inputs {
    display: flex;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 50px;
    gap: 6vh;

}
.inputValue {
    
    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;
    
    border-bottom: 1.8px solid #c7c6c6;
    
    
    background-color: transparent;
    font-size: 25px;
    outline: none;
}
.inputValue::placeholder {
    color: #54dd72;
 }


.inputCategoria {

    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;

    border-bottom: 1.8px solid #c7c6c6;
    
    font-size: large;
    outline: none;
    
    background-color: transparent;
}
.inputCategoria::placeholder {
    color: #c7c6c6;
}
.inputDescricao {

    width: 100%;
    border-left: none;
    border-right: none;
    border-top: none;

    border-bottom: 1.8px solid #c7c6c6;
    
    font-size: large;
    outline: none;
    
    background-color: transparent;
}



