

form {
    position: fixed; 

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgb(0,0,0,0.5); */
    background-color: #868686;
    z-index: 1000;
    
    margin-left: 500px;
    margin-top: 150px;
    
    width: 480px;
    height: 550px;
    border: 1px solid black;
    border-radius: 20px;
    
    
}
.title {
    width: 100%;
    
    background-color: #54dd72;
}
.fechar {
    display: flex;
    flex-direction: column;
    
    align-items: end;
    padding-right: 12px;
    color: #fff;
    cursor: pointer;
    
    
}
p {
    margin-bottom: 10px;
    color: #54dd72;
    
    
}

.form-grupo input {
    
    
    margin: 12px;
    
    height: 30px;
    
    
}
.LabelValueDate {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    
}
.InputValueDate {
    display: flex;
    justify-content: space-around;
    border: none
}
.InputValueDate input {

    border: 1px solid #fff;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;


    background-color: transparent;

}
.botao {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
    
}
.btnSalvar {

    border-radius: 12px;
    width: 200px;
    height: 50px;
    
    
}

