

form {
    position: fixed; 

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background-color: rgb(0,0,0,0.5); */
    background-color: #d3e0cd;
    z-index: 1000;
    
    margin-left: 500px;
    margin-top: 150px;
    
    width: 480px;
    height: 520px;
    border: 1px solid black;
    border-radius: 20px;
    
    
}
.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: #fff;
    background-color: #54dd72;
    padding-bottom: 10px;
}
.fechar {
    display: flex;
    flex-direction: column;
    
    align-items: end;
    padding-right: 12px;
    color: #fff;
    background-color: #54dd72;
    border-radius: 21px;
    border-bottom-right-radius: 1px;
    border-bottom-left-radius: 1px;
    border-bottom: none;
    
    
}
.fechar p {
    cursor: pointer;
}

.form-grupo input {
    margin: 12px;
    height: 30px;
    
    
}
.LabelValueDate {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
    color: gray;
    
}
.InputValueDate {
    display: flex;
    justify-content: space-around;
    border: none;
 
}
.InputValueDate input {

    border: 1px solid #fff;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;


    background-color: transparent;

}
.botao {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 30%;
    
    
}
.btnSalvar {

    border-radius: 12px;
    width: 200px;
    height: 50px;
    background-color: #badac7;
    font-family: cursive;
    font-weight: bold;
    font-size: medium;
    
    
}

