body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ebeeeb;
    
    
    

}
.container {
    display: grid;
    grid:
    'item2 item1 item1 item1 item1 item1'
    'item2 item3 item3 item3 item4 item4'
    'item2 item5 item5 item5 item4 item4'
    'item2 item6 item6 item6 item6 item6';

}
.item1 { 
    grid-area: item1;
    display: flex;
    width: 100%;
    flex-direction: row;
    
    align-items: center;
    border: 2px solid #fff;
    
    
}
.display {
    display: flex;
    height: 75px;
    width: 100%;
    
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    
    margin: 8px;
    align-items: end;
    
}
.saldo{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 33%;
    
    height: 100%;
    

    background-color: #fff;
    box-shadow: 1.5px 2px 2px #05f539;
    border-radius: 18px;
    
    

    
}
.receita{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 33%;
    
    height: 100%;

    
    background-color: #fff;
    box-shadow: 1.5px 2px 2px #3961e4;
    border-radius: 18px;


}
.despesa{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 33%;
    
    height: 100%;

    
    background-color: #fff;
    box-shadow: 1.5px 2px 2px #ec0d0d;   
    border-radius: 18px;
}
h2 {
    font-family: cursive;
    font-size: 15px;
}
p {
    font-size: 25px;
    
}
.item2 {
    grid-area: item2;
    display: flex;
    flex-direction: column;
    border: 2px solid #fff;
    

 }
 .user {
    display: flex;
    width: 100%;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    
 }
 img {
    width: 15vh;
    height: 15vh;
    border-radius: 55px;
    background-color: #DCDCDC;
    ;
    
 }
 .displayTransation {
    
    margin: 10px 10px 10px 10px;
    border-radius: 10px;
    
    height: 95%;
    
    background-color: #fff;
 }
 .displayTransation h2 {
    padding-top: 15px;
    padding-bottom: 10px;
    color: #21973b;
    
 }
 hr {
    
    border: 2px solid #26b880;
 }
 .botoes {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    gap: 15px;
    align-items: center;
    
 }
 .btnReceita {
    width: 90%;
    height: 55px;
    cursor: pointer;
    font-family: cursive;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    background-color: #05f539;
    
 }
 .btnDespesa {
    width: 90%;
    height: 55px;
    cursor: pointer;
    font-family: cursive;
    font-size: 18px;
    color: #fff;
    border-radius: 10px;
    background-color: #eb6f6f;
    
 }
.item3 { 
    grid-area: item3;
    height: 40vh;
    width: 100%;
    border: 2px solid #fff;
    
    
}
.item4 { 
    grid-area: item4;
    
    height: 80vh;
    width: 100%;
    max-width: 100%;
    margin-right: 8px;
    
}
.item5 { 
    grid-area: item5;
    height: 40vh;
    border: 2px solid #fff;
    
    
}

.item6 { 
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: item6;
    height: 50px;
    border: 2px solid #fff;
    max-height: 100%;
    
    font-size: 30px;
    
}
.container > div {
    background-color:transparent;
    text-align: center;
    
    font-size: 30px;
}