
.item1 { 
    grid-area: item1;
    display: flex;
    width: 100%;
    flex-direction: row;
    
    align-items: center;
    border: 2px solid #fff;
    
    
}
.display {
    display: flex;
    height: 75px;
    width: 100%;
    
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    
    margin: 8px;
    align-items: end;
    
}
.saldo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
    height: 100%;
    background-color: #fff;
    box-shadow: 1.5px 2px 2px #05f539;
    
    border: 1px solid transparent;
    outline: none;
    border-radius: 18px;
    transition: 2s ease-in-out;
}
.saldo:hover {
    transition: 2s ease-in-out;
    background-color: #aceeba;
}
.receita{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33%; 
    height: 100%;
    background-color: #fff;
    box-shadow: 1.5px 2px 2px #3961e4;
    border-radius: 18px;

    border: 1px solid transparent;
    outline: none;
    border-radius: 18px;
    transition: 2s ease-in-out;    
}
.receita:hover {
    transition: 2s ease-in-out;
    background-color: #82b1f8;    
}
.despesa{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 33%;
    height: 100%;
    background-color: #fff;
    box-shadow: 1.5px 2px 2px #ec0d0d;   
    border-radius: 18px;

    border: 1px solid transparent;
    outline: none;
    border-radius: 18px;
    transition: 2s ease-in-out;
}
.despesa:hover {
    transition: 2s ease-in-out;
    background-color: #f88282;  
}
h2 {
    font-family: cursive;
    font-size: 15px;
}
p {
    font-size: 25px;
    
    
}